# Node
**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*
**/build
**/.cache
**/.npm

# Python
**/__pycache__
**/*.py[cod]
**/*.so
**/.pytest_cache
**/.ruff_cache
**/.coverage
**/.venv
**/*.egg-info

# Dev environments
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Misc
.git/
.github/
docs/
tests/
*.md
*.log
*.tmp
.env*
!.env.example

# Build
**/dist
**/build
