*__pycache__*
*.fuse_hidden*
*node_modules*
*.venv
data/settings.json
data/sources.json
data/sources/*
data/iseetv.db
data/iseetv.db-journal
data/assignments.json
data/rules.json
data/plugins.json
data/flows/*
data/ingestion_rules_logs/*
*.coverage
*.windsurf

